<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Developer Kang HyungGoo Blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="stylesheets/main.css" />
	</head>

	<body class="is-preload">
	
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#">Portpolio</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>

		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>cout << "Hello, World!" << endl;</h1>
				<p>안녕하세요. 개발자 강형구입니다.</p>
			</div>

		<!-- Main -->
			<div id="main">
				
				<header class="major direction-container medium">
					<h2>Introduce</h2>
				</header>

				<div class="box direction-container">
					<pre><%=introduce[0].profile%></pre>
					<p><%=introduce[0].detail%></p>
				</div>

				<header class="major direction-container medium">
					<h2>Projects</h2>
				</header>

				<div class="box alt direction-container">
					<% for(var i = 0; i < projects.length; i++) { %>
						<a href="<%=projects[i].url%>">
						<% if(i % 2 == 0) {%>
							<section class="feature right">
						<% } else { %>
							<section class="feature left">
						<% } %>
								<div class="image"><img src="images/projects/<%=projects[i].thumbnail%>" alt=""></div>
								<div class="content">
									<h3 href="<%=projects[i].url%>"><%=projects[i].name%></h3>
									<pre><%=projects[i].detail%></pre>
									<p><%=projects[i].techStack%></p>
								</div>
							</section>
						</a>
					<% } %>
				</div>

				<header class="major direction-container medium">
					<h2>Technical stack</h2>
				</header>
				
				<div class="box direction-container">
					<table class="table">
						<% for (var i = 0 ; i < techstack.length; i++) { %>
							<tr>
								<td class="text-lg-right"> <%= techstack[i].tech %> </td>
								<td class="text-center">
								<% for (var star = 0; star < techstack[i].skill; star++) { %>
									<img class="star" src="images/goldStar.png">
								<% } %>
								<% for (var star = 0; star < 5 - techstack[i].skill; star++) { %>
									<img class="star" src="images/blackStar.png">
								<% } %>	
								</td>	
							</tr>
						<% } %>
					</table>
				</div>
				
			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="direction-container medium">

					<header class="major last">
						<h2>Contact</h2>
					</header>

					<ul class="icons">
						<li><a href="https://www.instagram.com/h9._.k/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/4Moyede" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</div>
			</div>

		<!-- Scripts -->
			<script src="javascripts/jquery.min.js"></script>
			<script src="javascripts/browser.min.js"></script>
			<script src="javascripts/breakpoints.min.js"></script>
			<script src="javascripts/util.js"></script>
			<script src="javascripts/main.js"></script>
			<script src="vendor/jquery/jquery.min.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	</body>
</html>
